.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/backgroung-image-cropped.jpg");
  background-size: cover;
}

.iconContainer {
  border: 8px solid #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.iconWrapper {
  margin: 1rem;
}
